# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
terraform.tfvars
crash.log
crash.*.log

# Override files as they contain sensitive data
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc
